@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Raleway:700,400,300);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    max-width: 80%;
  }
}

.clearfix {
  clear: both;
}

img {
  width: 100%;
  user-select: none;
}

a, button {
  -webkit-tap-highlight-color: transparent;
}

ul {
  list-style: none;
}

input:hover, input:focus, textarea:hover, textarea:focus {
  outline: none;
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 0.9rem 2rem;
  border-radius: 3rem;
  font-weight: 700;
  text-align: center;
  transition: 0.2s ease-in-out;
  border: 2.5px solid rgba(136, 138, 140, 0.6);
}
.btn:hover {
  border-color: #ffad00;
}

.btn-scn:hover {
  background: #ffad00;
}

.btn-prm {
  background: #ffad00;
  border-color: #ffad00;
}
.btn-prm:hover {
  background: transparent;
  color: #ffad00;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #888a8c;
}
@media (min-width: 768px) {
  body {
    font-size: 1rem;
  }
}

section {
  padding: 2.5rem 0;
}
section .head {
  text-align: center;
}

.secTitle, section.about .col h3 {
  padding: 1.5rem 0;
  color: #121212;
  font-weight: 400;
  font-size: 2em;
}

header.header nav.mainNav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #121212;
  height: 55px;
  z-index: 1;
}
header.header nav.mainNav .left {
  float: left;
  width: 12%;
}
header.header nav.mainNav .left button {
  width: 100%;
  border: none;
  height: 42px;
  margin-top: 8px;
  background-color: rgba(255, 255, 255, 0);
}
header.header nav.mainNav .left button .bar1, header.header nav.mainNav .left button .bar2, header.header nav.mainNav .left button .bar3 {
  width: 85%;
  max-width: 40px;
  height: 6px;
  background-color: #fff;
  margin: 6px auto;
  transition: 0.2s;
}
header.header nav.mainNav .left button i {
  font-size: 1.7em;
  padding: 10px 0;
  color: #fff;
}
header.header nav.mainNav .changed .bar1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}
header.header nav.mainNav .changed .bar2 {
  opacity: 0;
}
header.header nav.mainNav .changed .bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}
header.header nav.mainNav .logo {
  float: left;
  width: 76%;
}
header.header nav.mainNav .logo a {
  display: inline-block;
  padding: 0 5px;
}
header.header nav.mainNav .logo a img {
  margin-top: 20px;
  width: 200px;
}
header.header nav#mainMenu {
  display: none;
  background-color: #121212;
  position: fixed;
  top: 55px;
  left: 0;
  width: 75%;
  height: calc(100% - 55px);
  border: 5px solid #121212;
  z-index: 1;
}
@media (min-width: 768px) {
  header.header nav#mainMenu {
    width: 30%;
  }
}
header.header nav#mainMenu > ul {
  overflow: scroll;
  height: 100%;
}
header.header nav#mainMenu > ul > li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  font-size: 16px;
}
header.header nav#mainMenu > ul > li > a {
  text-transform: uppercase;
  color: #ffad00;
}
header.header nav#mainMenu > ul > li:first-child a {
  background-color: #fff;
}
header.header nav#mainMenu > ul > li ul {
  margin-left: 30px;
  display: none;
}
header.header nav#mainMenu > ul > li ul a {
  color: #888a8c;
}
header.header nav#mainMenu > ul > li ul a:hover {
  color: #fff;
}
header.header .hero {
  margin-top: 55px;
  background-image: url(../images/home-parallax.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding-bottom: 0.1px;
  text-align: center;
  color: #fff;
}
header.header .hero .div {
  padding: 4rem 0 3rem 0;
}
@media (min-width: 768px) {
  header.header .hero .div {
    padding-bottom: 0;
    font-size: 0.43rem;
  }
}
header.header .hero .div h1 {
  font-weight: 300;
}
header.header .hero .div p.big {
  font-weight: 700;
}
header.header .hero .div p.small {
  display: none;
  padding: 1rem 0;
}
@media (min-width: 768px) {
  header.header .hero .div p.small {
    display: block;
  }
}
header.header .hero .btn {
  display: block;
  padding: 0.9rem;
  width: 200px;
  margin: 1rem auto;
}
@media (min-width: 768px) {
  header.header .hero .btn {
    display: inline-block;
    margin: 1rem 0.5rem 3rem 0.5rem;
    width: auto;
    padding: 1rem 2rem;
  }
}

section.about .col {
  text-align: center;
}
section.about .col h3 {
  text-transform: uppercase;
  font-size: 1.4em;
  position: relative;
}
section.about .col h3:after {
  content: "";
  position: absolute;
  bottom: 6px;
  left: calc(50% - 40px);
  width: 80px;
  height: 2px;
  background: #ffad00;
}
section.about .col p {
  padding: 1.5rem 0;
  line-height: 1.7;
}
@media (min-width: 768px) {
  section.about {
    font-size: 0.43rem;
  }
}

section.info {
  background: #ffad00;
  color: #fff;
}
section.info .row {
  text-align: center;
  padding: 1rem 0;
}
@media (min-width: 768px) {
  section.info .row {
    float: left;
    width: 50%;
    font-size: 1.5rem;
  }
  section.info .row .small {
    font-size: 1.1rem;
  }
}
section.info .row .big {
  font-size: 3em;
  font-weight: 300;
}
section.info .row .small {
  font-weight: 700;
  text-transform: uppercase;
}

section.services .secTitle, section.services section.about .col h3, section.about .col section.services h3 {
  padding-bottom: 0;
}
@media (min-width: 768px) {
  section.services img {
    height: 650px;
    width: auto;
    margin: 0 auto 1rem auto;
    display: block;
  }
}
section.services .service {
  text-align: center;
  padding: 2rem 0;
}
section.services .service .icon {
  display: inline-block;
  margin: 0.3rem 0;
  background: #ffad00;
  color: #fff;
  font-size: 2.2em;
  border-radius: 50%;
  text-align: center;
  width: 70px;
  height: 70px;
}
section.services .service .icon i {
  padding-top: 1rem;
}
section.services .service h3 {
  padding: 1rem 0;
  font-weight: 400;
  color: #121212;
}
section.services .service h3:hover {
  color: #ffad00;
}
section.services .service p {
  padding: 0.5rem 0;
  line-height: 1.7;
}
@media (min-width: 768px) {
  section.services .service {
    float: left;
    width: 50%;
    font-size: 1rem;
    margin: 1rem 0;
    padding: 0 1rem;
  }
}

section.stats {
  background: rgba(136, 138, 140, 0.1);
}
section.stats .stat {
  padding: 1rem 0;
  text-align: center;
}
@media (min-width: 768px) {
  section.stats .stat {
    float: left;
    width: 50%;
  }
}
section.stats .stat .circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 6px solid #ffad00;
  margin: 1rem auto;
}
section.stats .stat .circle p {
  line-height: 200px;
  font-size: 2.6rem;
  color: #121212;
}
section.stats .stat h4 {
  text-transform: uppercase;
  font-weight: 400;
  padding-top: 1rem;
  font-size: 1.1rem;
}

section.blog .post {
  padding: 1.5rem 0;
  text-align: center;
}
@media (min-width: 768px) {
  section.blog .post {
    width: 50%;
    float: left;
    padding: 2rem 1rem;
    font-size: 1rem;
  }
}
section.blog .post .title {
  color: #121212;
  text-decoration: none;
  display: block;
  padding: 1rem 0;
  font-size: 1.1rem;
}
section.blog .post .title h3 {
  font-weight: 400;
}
section.blog .post .title:hover {
  color: #ffad00;
}
section.blog .post p {
  padding: 1rem 0;
  line-height: 1.7;
}
section.blog .post .info {
  padding: 1rem 0;
  font-size: 0.9rem;
  font-weight: 300;
}
section.blog .post .info span {
  padding: 0 0.5rem;
}
section.blog .post .info span i {
  color: #ffad00;
  padding: 0 5px;
}
section.blog .post .more {
  color: #ffad00;
  font-weight: 700;
  text-decoration: none;
}
section.blog .post .more:hover {
  color: #888a8c;
}

section.plans {
  background: rgba(136, 138, 140, 0.1);
}
section.plans .plan {
  background: #fff;
  text-align: center;
  margin: 3rem 1.5rem;
  border-radius: 1.5rem;
  overflow: hidden;
}
@media (min-width: 768px) {
  section.plans .plan {
    width: calc(50% - 9rem);
    float: left;
    margin: 2rem 4.5rem;
  }
  section.plans .plan li {
    font-size: 0.9rem;
  }
}
section.plans .plan h4, section.plans .plan h2 {
  font-weight: 400;
}
section.plans .plan h4 {
  padding-top: 2rem;
  text-transform: uppercase;
  font-size: 1.2rem;
}
section.plans .plan h2 {
  padding: 1rem 0 2rem 0;
  font-size: 3rem;
  color: #121212;
}
section.plans .plan h2 sup {
  font-size: 1.3rem;
  padding: 0 0.3rem;
}
section.plans .plan h2 sup:nth-child(even) {
  vertical-align: baseline;
}
section.plans .plan ul li {
  padding: 0.8rem 0;
  border-top: 1px solid rgba(136, 138, 140, 0.2);
  color: rgba(136, 138, 140, 0.8);
}
section.plans .plan ul li:first-child, section.plans .plan ul li:last-child {
  border: none;
}
section.plans .plan ul li:last-child {
  padding: 0;
}
section.plans .plan ul li:last-child a {
  background: #ffad00;
  color: #fff;
  font-weight: 700;
  display: block;
  padding: 0.8rem 0;
  text-decoration: none;
}
section.plans .plan ul li:last-child:hover {
  background: #ffad00;
  color: #fff;
}
section.plans .plan:hover {
  background: #ffad00;
}
section.plans .plan:hover h4, section.plans .plan:hover h2, section.plans .plan:hover li {
  color: #fff;
}
section.plans .plan:hover ul li a {
  color: #121212;
  background: #fff;
}
section.plans .plan:hover ul li a:hover {
  color: #fff;
  background: #ffad00;
}
section.plans *:hover {
  transition: 0.1s ease-in-out;
}

section.subscribe {
  background: url(../images/newsletter.jpeg);
  background-size: cover;
  padding: 0;
}
section.subscribe .overlay {
  background: linear-gradient(to bottom, rgba(255, 173, 0, 0.2), rgba(18, 18, 18, 0.7));
  padding: 3rem 0;
  text-align: center;
}
section.subscribe h2, section.subscribe p {
  color: #fff;
}
section.subscribe input {
  padding: 1rem 2rem;
  margin: 1.5rem auto;
  background: rgba(136, 138, 140, 0.5);
  border: 0;
  border-radius: 3rem;
  display: block;
  width: 100%;
}
section.subscribe input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}
section.subscribe input:focus {
  background: rgba(255, 255, 255, 0.3);
  color: #fff;
  transition: 0.2s ease-in-out;
}
@media (min-width: 768px) {
  section.subscribe input {
    width: 60%;
  }
}

section.clients ul li {
  float: left;
  width: 50%;
  padding: 1rem 2rem;
}
@media (min-width: 768px) {
  section.clients ul li {
    padding: 1rem 8rem;
  }
}
section.clients ul li a:hover {
  opacity: 0.75;
  transition: 0.3s ease-in-out;
}

footer.footer {
  background: #121212;
}
footer.footer .left {
  padding: 2.5rem 1rem;
  text-align: center;
}
@media (min-width: 768px) {
  footer.footer .left {
    float: left;
    width: 50%;
    text-align: left;
    padding: 4rem 2rem;
  }
  footer.footer .left img {
    width: 75%;
  }
}
footer.footer .left img {
  width: 85%;
}
footer.footer .left .desc {
  color: rgba(255, 255, 255, 0.75);
}
footer.footer .left .addr {
  padding: 2rem 0;
  color: #fff;
  line-height: 1.7;
}
footer.footer .left .info {
  padding: 5px;
}
footer.footer .left .info span {
  padding: 0 5px;
}
footer.footer .left .info span:hover {
  color: #ffad00;
}
footer.footer .left .row {
  padding: 2rem 0 0rem 0;
  text-align: center;
}
footer.footer .left .row div {
  display: inline-block;
  padding: 0 5px;
}
footer.footer .left .row div .big {
  font-size: 2rem;
  color: #ffad00;
}
footer.footer .left .row div .small {
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.75);
  padding: 5px;
}
footer.footer .left .secTitle, footer.footer .left section.about .col h3, section.about .col footer.footer .left h3 {
  color: #fff;
  padding: 0;
  text-align: left;
}
footer.footer .left ul {
  padding: 1.5rem 3rem;
  text-align: left;
}
footer.footer .left ul li {
  position: relative;
}
footer.footer .left ul li::before {
  content: "";
  font-family: FontAwesome;
  position: absolute;
  top: 10px;
  left: -1rem;
  color: #ffad00;
  font-size: 0.75rem;
}
footer.footer .left ul li a {
  color: #ffad00;
  display: inline-block;
  padding: 6px 1rem;
  font-size: 1.1rem;
  text-decoration: none;
}
footer.footer .left ul li a:hover {
  color: #fff;
}
footer.footer .copy {
  background: white;
  color: #121212;
  text-align: center;
  padding: 2rem;
}
footer.footer .copy p a {
  color: #ffad00;
  font-weight: 700;
}
footer.footer .copy ul {
  margin-top: 1rem;
}
footer.footer .copy ul li {
  display: inline-block;
  margin: 0 5px;
}
footer.footer .copy ul li a {
  color: #121212;
  text-decoration: none;
  font-size: 1.4rem;
}
footer.footer .copy ul li a:hover {
  color: #ffad00;
}

/*# sourceMappingURL=style.css.map */
