
@import url(https://fonts.googleapis.com/css?family=Raleway:700,400,300)

$base-color: #ffad00
$black-color: #121212
$white-color: #888a8c

$layout-breakpoint-small: 768px

*
  box-sizing: border-box
  margin: 0
  padding: 0

.container
  max-width: 90%
  margin: 0 auto
  @media (min-width: $layout-breakpoint-small)
    max-width: 80%

.clearfix
  clear: both

img
  width: 100%
  user-select: none

a, button
  -webkit-tap-highlight-color: transparent

ul
  list-style: none

input, textarea
  &:hover, &:focus
    outline: none

.btn
  display: inline-block
  text-decoration: none
  color: #fff
  padding: .9rem 2rem
  border-radius: 3rem
  font-weight: 700
  text-align: center
  transition: .2s ease-in-out
  border: 2.5px solid rgba($white-color, .6)
  &:hover
    border-color: $base-color

.btn-scn
  &:hover
    background: $base-color
    

.btn-prm
  background: $base-color
  border-color: $base-color
  &:hover
    background: transparent
    color: $base-color

body
  font-family: 'Raleway', sans-serif
  font-size: 15px
  font-weight: 400
  color: $white-color
  @media (min-width: $layout-breakpoint-small)
    font-size: 1rem

section
  padding: 2.5rem 0
  
  .head
    text-align: center
    
      
.secTitle
  padding: 1.5rem 0
  color: $black-color
  font-weight: 400
  font-size: 2em
  
  
@import templates/header
@import templates/about
@import templates/info
@import templates/services
@import templates/stats
@import templates/blog
@import templates/plans
@import templates/subscribe
@import templates/clients
@import templates/footer

