section.blog
  .container
    .head
      h2.secTitle Latest from the blog
    
    .post
      img(src="images/blog-1.jpeg")
      a(href="#").title
        h3 Consulting company service
      p Our Construction Company is a superior provider of housing, educational and support services for individuals...
      .info
        span
          i.far.fa-clock
          | Feb 22, 2021
        span
          i.far.fa-comment-alt
          | 08
      a(href="#").more Read More
        
    .post
      img(src="images/blog-2.jpeg")
      a(href="#").title
        h3 Kitchen remodel inspiration
      p Every cooking geek has big dreams for their kitchen. They envision the meals they’ll prepare, the dishes they’ll serve, ...
      .info
        span
          i.far.fa-clock
          | Feb 11, 2021
        span
          i.far.fa-comment-alt
          | 13
      a(href="#").more Read More
        
    .post
      img(src="images/blog-3.jpeg")
      a(href="#").title
        h3 Meet out project manager
      p Here’s a short interview with John Smith, our new project manager who has joined our company last week to lead an upcoming...
      .info
        span
          i.far.fa-clock
          | Jan 11, 2021
        span
          i.far.fa-comment-alt
          | 23
      a(href="#").more Read More
    
    .clearfix