section.clients
  .container
    .head
      h2.secTitle Our Clients
    ul
      li
        a(href="#")
          img(src="images/partner1.png")
      li
        a(href="#")
          img(src="images/partner2.png")
      li
        a(href="#")
          img(src="images/partner3.png")
      li
        a(href="#")
          img(src="images/partner4.png")
      li
        a(href="#")
          img(src="images/partner5.png")
      li
        a(href="#")
          img(src="images/partner6.png")
      .clearfix