footer.footer
  .container
    .left
      a(href="#")
        img(src="images/logo.png")
      p.desc We are always ready to help you
      p.addr 10010, Aomar gare
        br
        | Bouira, Dzayer
      p.info Phone:
        span +213 560708090
      p.info Fax:
        span +213 26374859
      p.info Email:
        span achr3012@gmail.com
      
      .row
        div
          p.big 15,065,421
          p.small VISITORS
        div
          p.big 18,465
          p.small CLIENTS
    .left
      h2.secTitle NAVIGATION
      ul
        li
          a(href="#") About Us
        li
          a(href="#") Our Team
        li
          a(href="#") Services
        li
          a(href="#") Blog
        li
          a(href="#") Pricing
        li
          a(href="#") Contact Us
        li
          a(href="#") Kach haja
          
          
          
    .clearfix
  .copy
    p &copy; 2021 All Right Reserved. 
      a(href="https://www.instagram.com/its__achraf" targert="_blanc") AcHRaF
    ul
      li
        a(href="#")
          i.fab.fa-github
      li
        a(href="#")
          i.fab.fa-facebook
      li
        a(href="#")
          i.fab.fa-instagram
      li
        a(href="#")
          i.fab.fa-twitter
      li
        a(href="#")
          i.fab.fa-linkedin