header.header
  nav.mainNav
      .container
        .left
          button(onclick="toggleMainMenu(this)")
            .bar1
            .bar2
            .bar3
        .logo
          a(href="index.html")
            img(src="images/logo.png")
        .left
          button
            i.fas.fa-ellipsis-v
        .clearfix
  nav#mainMenu
    ul
      li
        a(href="#") Home
      li
        a(href="#") Elements
        ul.sub.show
          li
            a(href="#") Tabs & accordions
          li
            a(href="#") Typography
          li
            a(href="#") Forms
          li
            a(href="#") Buttons
      li
        a(href="#") Features
        ul.sub
          li
            a(href="#") Header parallax
          li
            a(href="#") Header Transparent
          li
            a(href="#") Header hamburger menu
      li
        a(href="#") Extras
        ul.sub
          li
            a(href="#") 404
          li
            a(href="#") Coming soon
          li
            a(href="#") Landing page
          li
            a(href="#") Search results
      li
        a(href="#") Pages
        ul.sub
          li
            a(href="#") About us
          li
            a(href="#") Out team
          li
            a(href="#") Team member profile
          li
            a(href="#") Contact us
          li
            a(href="#") FAQ page
      li
        a(href="#") Blog
        ul.sub
          li
            a(href="#") Default blog
          li
            a(href="#") Timeline
      li
        a(href="#") Gallery
        ul.sub
          li
            a(href="#") Grid padding gallery
          li
            a(href="#") Grid masonry
          li
            a(href="#") Grid cobbles
  
  .hero
    .container
      h2 Header