section.info
  .container
    .row
      p.big 10
      p.small Years of experience
    .row
      p.big 7
      p.small Built hosting estates
    .row
      p.big 26
      p.small Qualified specialists
    .row
      p.big 12
      p.small Built and enhanced design
    .clearfix