section.plans
  .container
    .head
      h2.secTitle Choose You Plan
      p Construction provides a variety of pricing options so that you could select just what your next project needs.
    .plan
      h4 Basic
      h2
        sup $
        | 20
        sup /mo
      ul
        li BIM SERVICES
        li CONSTRUCTION SERVICES
        li FACADE ENGINEERING
        li
          a(href="#") GET STARTED
    .plan
      h4 Standar
      h2
        sup $
        | 143
        sup /mo
      ul
        li SCHEDULING
        li DESIGN REVIEW
        li PRE-CONSTRUCTION SERVICES
        li
          a(href="#") GET STARTED
    .plan
      h4 Gold
      h2
        sup $
        | 170
        sup /mo
      ul
        li VALUE ENGINEERING
        li QUALITY CONTROL
        li SAFETY
        li
          a(href="#") GET STARTED
    .plan
      h4 Platinum
      h2
        sup $
        | 419
        sup /mo
      ul
        li CONSTRUCTION MANAGEMENT
        li COST CONTROL
        li WARRANTY SERVICES
        li
          a(href="#") GET STARTED
    .clearfix