section.services
  .container
    .head
      h2.secTitle Our services
    
    img(src="images/phone.png")
    
    .column
      .service
        .icon
          i.fas.fa-thumbs-up
        h3 Construction Consulting
        p Our various areas of expertise are (nothing) available on a consulting basis as an additional support to our ...
      .service
        .icon
          i.fas.fa-city
        h3 General Contacting
        p When overseeing the bidding process and executing the project it is our role to drive value, both in ...
      .service
        .icon
          i.fas.fa-wrench
        h3 Program Management
        p From project accounting to overseeing the team, from maintaining schedules to bidding to outside vendors, we ...
      .service
        .icon
          i.fas.fa-lightbulb
        h3 Design & Build
        p Design and build are all about working efficiencies created within the design phase, thereby ...
      .service
        .icon
          i.fas.fa-object-ungroup
        h3 Pre-Construction Planing
        p We seek to get involved early in the design phase so that we can manage the project more efficiently ...
      .service
        .icon
          i.fas.fa-object-group
        h3 Post-Construction
        p A project isn’t complete just after the construction phase is done. We offer additional services to help ..
      .clearfix