section.stats
  .container
    .stat
      .circle
        p 73%
      h4 leadership
    .stat
      .circle
        p 89%
      h4 management
    .stat
      .circle
        p 95%
      h4 innovation and creativity
    .stat
      .circle
        p 80%
      h4 Resilience
    .clearfix