section.subscribe
  .overlay
    .container
      .head
        h2.secTitle Subscribe To Our Newsletter
        p Sign up to our newsletter subscription and be the first to know about the latest company news, special offers and discounts.
      input(type="email" placeholder="achr3012@gmail.com")
      button.btn.btn-prm SUBSCRIBE