header.header
  
  nav.mainNav
    position: fixed
    top: 0
    left: 0
    width: 100%
    background-color: $black-color
    height: 55px
    z-index: 1
    
    .left
      float: left
      width: 12%
      button
        width: 100%
        border: none
        height: 42px
        margin-top: 8px
        background-color: rgba(white, 0)
        .bar1, .bar2, .bar3
          width: 85%
          max-width: 40px
          height: 6px
          background-color: #fff
          margin: 6px auto
          transition: .2s
        
        i
          font-size: 1.7em
          padding: 10px 0
          color: #fff
            
    .changed
      .bar1
        transform: rotate(-45deg) translate(-8px, 8px)
      .bar2
        opacity: 0
      .bar3
        transform: rotate(45deg) translate(-8px, -8px)
      
    .logo
      float: left
      width: 76%
      a
        display: inline-block
        padding: 0 5px
        img
          margin-top: 20px
          width: 200px

  nav#mainMenu
    display: none
    background-color: $black-color
    position: fixed
    top: 55px
    left: 0
    width: 75%
    height: calc(100% - 55px)
    border: 5px solid $black-color
    z-index: 1
    
    @media (min-width: $layout-breakpoint-small)
      width: 30%
    
    & > ul
      overflow: scroll
      height: 100%
      
      & > li
        a
          display: block
          text-decoration: none
          padding: 15px
          font-size: 16px
        & > a
          text-transform: uppercase
          color: $base-color
        &:first-child a
          background-color: #fff
        ul
          margin-left: 30px
          display: none
          a
            color: $white-color

  .hero
    margin-top: 55px
    
    background-image: url(../images/home-parallax.jpg)
    background-size: cover
    background-attachment: fixed
    background-position: center
    padding-bottom: .1px
    text-align: center
    color: #fff
    .div
      padding: 4rem 0 3rem 0
      @media (min-width: $layout-breakpoint-small)
        padding-bottom: 0
      h1
        font-weight: 300
      p.big
        font-weight: 700
      p.small
        display: none
        padding: 1rem 0
        @media (min-width: $layout-breakpoint-small)
          display: block
   
    .btn
      display: block
      padding: .9rem
      width: 200px
      margin: 1rem auto
      @media (min-width: $layout-breakpoint-small)
        display: inline-block
        margin: 1rem .5rem 3rem .5rem
        width: auto
        padding: 1rem 2rem