section.stats
  background: $base-color
  color: #fff
  
  .row
    text-align: center
    padding: 1rem 0
   
    @media (min-width: $layout-breakpoint-small)
      float: left
      width: 50%
      font-size: 1.5rem
      .small
        font-size: 1.1rem
    
    .big
      font-size: 3em
      font-weight: 300
      
    .small
      font-weight: 700
      text-transform: uppercase