doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Construction theme

    // font awesome
    script(src="https://kit.fontawesome.com/9f9ba4bc46.js" crossorigin="anonymous")

    // Main style
    link(rel="stylesheet" href="css/style.css")
    
  body
    // https://livedemo00.template-help.com/wt_58533/

    include templates/header
    include templates/about
    include templates/info
    include templates/services
    include templates/stats
    
    include templates/footer

    script(src="js/script.js")